node_modules/
/package-lock.json
/.pnp
/.pnp.js
/.env

coverage/
.nyc_output/
jest-cache/
.vitest/

.eslintcache
.stylelintcache

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

/build/
/dist/
.vite/

/.DS_Store
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*

/app.yaml
/.gcloudignore

/src/public/images/
/src/public/img/
/src/public/env.js
